
.addImageInput{
    width: 200px;
    height: 20px;
    padding-left: 5px;
    font-size: 16px;
}

.sliderWindow{
    width: 400px;
    height: 440px;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    overflow: hidden;
}

.sliderList{
    width: auto;
    height: 400px;
    position: relative;
    top: 0px;
    transition: all 0.5s;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.sliderWindow button{
    width: 140px;
    height: 25px;
    margin: 0px 28px;
    cursor: pointer;
}

.sliderMinimap{
    width: auto;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 240px);
}

.sliderMinimap ul{
    display: flex;
}

.sliderMinimap li{
    list-style-type: none;
    width: 80px;
    height: auto;
}

.sliderMinimap img{
    width: 80px;
    height: auto;
}
